:host {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: var(--x-margin-small);
    justify-items: stretch;
    font-size: var(--x-font-tiny);
}

x-calendar-day {
    box-sizing: border-box;
    cursor: pointer;
    
}

x-calendar-day[data-outside]{
    color: var(--x-color-primary--light);
}

x-calendar-day[data-today]{
    background-color: var(--x-color-secondary);
}

x-calendar-day[data-selected]{
    border: 1px solid var(--x-color-secondary);
}

.x-month__item {
    display: flex;
    justify-content: center;
    align-items: center;
}